.dropdown-menu {
  display: flex;
  gap: 1rem;

  list-style: none;
}

header {
  padding: 1rem;
}

.menu-item > a {
  display: block;
  padding-block: 0.5rem;

  color: var(--color-cedar-chest);
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;

  transition: color 150ms ease-in-out;
}

.menu-item a:hover {
  color: var(--color-bittersweet);
}

.sub-menu {
  padding: 1rem;

  border: 1px solid var(--color-bittersweet);
  border-radius: 0.25rem;
}

.sub-menu li + li {
  margin-top: 1rem;
}

.sub-menu li a {
  padding: 0;
}